.mat-card
{
    display: flexbox;
    // box-shadow: 0 2px 1px -1px black, 0 1px 1px 0 black, 0 1px 3px 0 black;
    background-color: whitesmoke;
    height: 400px;
    width: 400px;
    margin: auto;
    
.mat-card-content
{
    display: inline-flexbox;
    margin: auto;
}
   
}
.mat-raised-button {
    
    width: 151px;
}
