<div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" style="height: 100ch">
    <div fxLayout="column" fxLayoutAlign="center center">

        <mat-card fxLayout="column" fxFlex="100" fxLayoutAlign="center center">

            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-card-header fxLayout="row">
                    <p>User verified successfully.. please login</p>
                </mat-card-header>
            </div>

            <mat-card-actions>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <button mat-raised-button color="primary" routerLink='/login'>log in</button>
                </div>
            </mat-card-actions>

        </mat-card>

    </div>
</div>