<div fxLayout="row" fxLayoutAlign="center start" class="mainDiv">
  <div fxLayout="row" fxFlexHeight="20px" fxLayoutAlign="center center" class="divEdit">

    <mat-card *ngIf="!popup" (click)="onPopup()" fxLayout="column" class="popupCard"  fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center">
          <input matInput type="text" placeholder="Take a Note..." class="topinput">
            <div fxLayout="row" fxLayoutAlign="end end">
              <button mat-icon-button matTooltip="Brush" routerLink="/dashboard" >
                <mat-icon>brush</mat-icon>
              </button>

              <button mat-icon-button matTooltip="Image" routerLink="/dashboard" >
                <mat-icon>photo</mat-icon>
              </button>
          </div>
      </div>
    </mat-card>

    <mat-card *ngIf="popup" fxLayout="column" class="popdownCard" fxLayoutAlign="space-around start">
     
        <div>
          <textarea matInput type="text" placeholder="title" class="input"  [(ngModel)]="note.title" ></textarea>
        </div>

        <div fxLayout="row-wrap" fxLayoutAlign="center center">
          <textarea matInput type="text" placeholder="Take a Note..." [(ngModel)]="note.content" class="input" ></textarea>
          
        </div>
      
      <div fxLayout="row" fxLayoutAlign="space-between end" >
        <div>
          <button mat-icon-button matTooltip="Reminder">
            <mat-icon style="font-size: 17px !important">add_alert</mat-icon>
          </button>
        </div>

        <div>
          <button mat-icon-button matTooltip="Collaborate" routerLink="/dashboard">
            <mat-icon style="font-size: 17px !important">group_add</mat-icon>
          </button>
        </div>

        <div>
          <button mat-icon-button matTooltip="Change Color" routerLink="/dashboard">
            <mat-icon style="font-size: 17px !important">color_lens</mat-icon>
          </button>
        </div>

        <div>
          <button mat-icon-button matTooltip="Add Image" routerLink="/dashboard">
            <mat-icon style="font-size: 17px !important">image</mat-icon>
          </button>
        </div>

        <div>
          <button mat-icon-button matTooltip="Archive" routerLink="/dashboard">
            <mat-icon style="font-size: 17px !important">archive</mat-icon>
          </button>
        </div>

        <div>
          <button mat-icon-button matTooltip="More Option" routerLink="/dashboard">
            <mat-icon style="font-size: 17px !important">more_vert</mat-icon>
          </button>
        </div>

        <div>
          <button mat-icon-button matTooltip="Undo" routerLink="/dashboard">
            <mat-icon style="font-size: 17px !important">undo</mat-icon>
          </button>
        </div>

        <div>
          <button mat-icon-button matTooltip="Redo" routerLink="/dashboard">
            <mat-icon style="font-size: 16px !important">redo</mat-icon>
          </button>
        </div>

        <div fxLayoutAlign="end end" class="divspace">
          <button mat-button matTooltip="close" (click)=addNote()>Close</button>
        </div>

      </div>

    </mat-card>

  </div>
</div>