.input
{
    margin-bottom: 6%;
    width: 430px;
    font-size: 25px;
    border: antiquewhite;
}

input.input:focus
{
    outline-width: 0; 
}
.popupCard
{
margin-left: 10%;
margin-right: 41%;   
}
   
.flex-container 
{
    flex-wrap: wrap;
}

.mainDiv
{
    width: 276px;
}
.mat-card
{
    display: flex;
    flex-direction: row warp;
    justify-content: space-between;
    width: fit-content; 
    margin-left: 5%; 
    margin-right: 1%;
    margin-top: 5%;
}