<h3 style="color: gray;">TRASHED NOTES</h3>
<div fxLayout="row-wrap" fxLayoutAlign="space-around start" class="mainDiv">

    <div *ngFor="let items of notes">
        <mat-card class="noteHover">
            <div (click)="openDialog(items)" class="titleInput">
                {{items.title}}
            </div>
            <div (click)="openDialog(items)" class="contentInput">
                {{items.content}}
            </div>


            <span class="fill-remaining-space">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon style="font-size: 17px !important" matTooltip="more">more_vert</mat-icon>
                </button>

                <mat-menu #menu="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item (click)="deleteNote(items)">

                        <span>Delete forever</span>
                    </button>
                    <button mat-menu-item (click)="trashNote(items)">

                        <span>Restore</span>
                    </button>

                </mat-menu>
            </span>

        </mat-card>

    </div>
</div>