<div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" style="height: 100ch">
    <div fxLayout="column" fxLayoutAlign="center center">

        <mat-card fxLayout="column" fxFlex="100" fxLayoutAlign="center center">

            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-card-header fxLayout="row">

                    <mat-card-title>
                        <h4>
                            <span style='color: #4284f4'>F</span>
                            <span style='color: #ea4334'>u</span>
                            <span style='color: #fbbc04'>n</span>
                            <span style='color: #4284f4'>d</span>
                            <span style='color: #34a853'>o</span>
                            <span style='color: #ea4334'>o</span>
                            <span style='color: #4284f4'>N</span>
                            <span style='color: #ea4334'>o</span>
                            <span style='color: #fbbc04'>t</span>
                            <span style='color: #4284f4'>e</span>
                            <span style='color: #34a853'>s</span>
                        </h4>
                    </mat-card-title>

                    <mat-card-subtitle>
                        <h2>Forget password</h2>
                        <h4>Enter your registerd Email Id</h4>
                    </mat-card-subtitle>

                </mat-card-header>
            </div>

            <mat-card-content>
                <div fxLayout="column" fxFlex="100">

                    <div>
                        <div fxLayout="row" fxLayoutAlign="center">
                            <mat-form-field appearance="outline">
                                <mat-label>Email Id</mat-label>
                                <input matInput placeholder="emailId" [formControl]="email" required>
                                <mat-error *ngIf="email.invalid">{{emailError()}}</mat-error>
                                <mat-icon matSuffix><img src="../../assets/outline-email.svg"></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-card-actions>
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <button mat-raised-button color="primary" (click)="forgetPassword()">forgetpassword</button>
                        </div>
                    </mat-card-actions>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>