<div>
  <h3 style="color: gray;">NOTES</h3>
</div>
<div fxLayout="{{direction}} {{direction1}}" fxLayoutAlign="space-around {{allign}}" class="mainDiv" fxFlex="90">

  <div *ngFor="let items of notes">
    <div [ngClass]=" direction =='column' ? 'matpad3':'matpad'">
      <mat-card class="noteHover" [ngStyle]="{'background-color' : items.color}">

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div class="titleInput" (click)="openDialog(items)">
            {{items.title}}
          </div>

          <div class="apppin">
            <span>
              <mat-icon matTooltip="pinned"><img src="../../../assets/unpinned.svg"></mat-icon>
            </span>
          </div>
        </div>

        <div class="contentInput" (click)="openDialog(items)" style="word-break: break-all;">
          {{items.content}}
        </div>

          <div *ngIf="items.reminder">
              <mat-chip-list>
                  <mat-chip style="font-size: 14px">{{items.reminder | date : 'MMM d , y , h : mm a'}}
                      <button mat-icon-button matTooltip="remove reminder">
                        <mat-icon matSuffix (click) = "deleteReminder(items)">close</mat-icon>
                      </button>
                  </mat-chip> 
              </mat-chip-list>
          </div>

        <div *ngFor="let items of notee">
          <app-labels [noteData] = "items.label"></app-labels>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-around end">
          <div class="noteIcon">

            <button mat-icon-button matTooltip="Remind me">
              <mat-icon class="mat-color " [matMenuTriggerFor]="remainder">add_alert</mat-icon>
            </button>

            <button mat-icon-button matTooltip="collaborator">
              <mat-icon class="mat-color ">group_add</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Set Color" matTooltip="Change color" [matMenuTriggerFor]="colorMenu">
              <mat-icon class="mat-color ">color_lens</mat-icon>
            </button>

            <button mat-icon-button matTooltip="archieved">
              <mat-icon class="mat-color " (click)="onArchive(items)">archive</mat-icon>
            </button>


            <button mat-icon-button matTooltip="New note with image">
              <mat-icon class="mat-color ">image</mat-icon>
            </button>

            <span class="fill-remaining-space">
              <button mat-icon-button matTooltip="more">
                <mat-icon matTooltip="more" [matMenuTriggerFor]="menu" class="mat-color ">more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item (click)="trashNote(items)">
                  <span>Delete Note</span>
                </button>

                <button mat-menu-item [matMenuTriggerFor]="labelTrigger">
                  <span>Add Label</span>
                </button>
              </mat-menu>
            </span>
          </div>

          <div>
            <mat-menu #labelTrigger="matMenu">
              <div>Label note</div>
              <div *ngFor="let label of labels">
                <mat-checkbox class="addlabel" (click)="addLabel(labels, items)">{{label.label}}
                </mat-checkbox>
              </div>
            </mat-menu>
          </div>

          <div>
            <mat-menu #colorMenu="matMenu" fxFlex="80" [overlapTrigger]="false">
              <div *ngFor="let color of colorCodes" fxLayout="row wrap">
                <div *ngFor="let iteam of color">
                  <button matbutton [ngStyle]="{'background-color' : iteam.name}"
                    (click)="changeColor(iteam.name, items)" mat-mini-fab>
                  </button>
                </div>
              </div>
            </mat-menu>
          </div>

          <div  fxLayout="row" fxLayoutAlign="space-around start" >
            <mat-menu #remainder="matMenu">
              <div class="reminderMain">
                <div class="reminderTittle">Reminder:</div>

                <div (click)='setToday(items)' class="reminderInside">Later Today
                  <span style="margin-left: 44%">8:00</span>
                </div>
                <mat-divider></mat-divider>

                <div (click)='setTomorrow(items)' class="reminderInside">Tomorrow
                  <span style="margin-left: 49%">8:00</span>
                </div>
                <mat-divider></mat-divider>

                <div (click)='setWeekly(items)' class="reminderInside">Weekly
                  <span style="margin-left: 58%">8:00</span>
                </div>
                <mat-divider></mat-divider>

                <div>

                  <div (click)='setPickTime()' class="reminderInside">
                    <mat-icon>access_time</mat-icon>
                    <span> Pick A Date </span>
                  </div>

                  <div>
                    <mat-form-field class="reminderInside">
                      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <div (click)="setPickedDate(items)">
                      <mat-icon>done</mat-icon>
                    </div>
                  </div>

                </div>
              </div>
            </mat-menu>
          </div>

        </div>

      </mat-card>
    </div>
  </div>
</div>